
body {
    background: rgb(81,69,252);
background: linear-gradient(90deg, rgba(81,69,252,1) 5%, rgba(153,0,255,1) 85%);
}

.logo {
    width: 350px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}